
.container__menu {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.container__menu .logo {
    width: 177px;
}

.container__menu .opcoes__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: end;
    width: 448px;
    justify-content: space-evenly;
}

.container__menu .opcoes__menu button {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    background: none;
    border: none;
}