.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .news__letter {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 585px;
}

.hero .news__letter .titulo {
    color: #202020;
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 22px;
}

.hero .news__letter .bold {
    color: #202020;
    font-family: Elsie Swash Caps;
    font-size: 82px;
    font-weight: 900;
    line-height: 94.46px;
    text-align: left;
}

.hero .news__letter .texto {
    color: #202020;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.hero .hero__imagem img {
    margin-top: -208px;
    width: 787px;
}